@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border-layer1 {
    clip-path: polygon(100% 6%, 100% 100%, 0 100%, 0 0);
}

.custom-border-layer2 {
clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 0);
}
.custom-border-layer3 {
clip-path: polygon(100% 16%, 100% 100%, 0 100%, 0 0);
}