.gradients {
    background: linear-gradient(0deg, rgba(0, 212, 255, 1) 50%, transparent 50%);
}

@keyframes animateout {
    0% {
    background: linear-gradient(0deg, rgba(0, 212, 255, 1) 50%, transparent 50%);
    }
    10% {
        background: linear-gradient(0deg, rgba(0, 212, 255, 1) 45%, transparent 55%);
    }
    20% {
        background: linear-gradient(0deg, rgba(0, 212, 255, 1) 40%, transparent 60);
    }
   30% {
       background: linear-gradient(0deg, rgba(0, 212, 255, 1) 35%, transparent 65%);
   }
    40% {
        background: linear-gradient(0deg, rgba(0, 212, 255, 1) 30%, transparent 70%);
    }
    50% {
        background: linear-gradient(0deg, rgba(0, 212, 255, 1) 25%, transparent 75%);
    }

   60% {
       background: linear-gradient(0deg, rgba(0, 212, 255, 1) 20%, transparent 80%);
   }
    70% {
        background: linear-gradient(0deg, rgba(0, 212, 255, 1) 15%, transparent 85%);
    }
    80% {
        background: linear-gradient(0deg, rgba(0, 212, 255, 1) 10%, transparent 90%);
    }

    90% {
        background: linear-gradient(0deg, rgba(0, 212, 255, 1) 5%, transparent 95%);
    }
    100% {
        background: linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, transparent 100%);
    }
}